* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ccc;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
.apply-box {
  max-width: 600px;
  background-color: white;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 4px color(5red 5green 5blue 0.2);
  padding: 20px;
}
form {
  display: grid;
  grid-template-columns: 2;
}
.form-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  column-gap: 20px;
  row-gap: 20px;
}
.form-control {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}
#address {
  width: 520px;
}
input,
select,
textarea {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  font-size: 15px;
  outline-color: rgb(55, 41, 182);
}
.button {
  display: flex;
  justify-content: end;
  padding-top: 20px;
  padding-right: 10px;
}
.button input {
  background-color: red;
  margin: 20px;
  border: 1px solid black;
  border-radius: transparent 10px;
  color: white;
  transition: 0.3s ease-in;
}
.button input:hover {
  background-color: #ccc;
  color: black;
  transition: 0.3s ease-out;
}
@media only screen and (max-width: 545px) {
  #address {
    width: 400px;
  }
}
@media only screen and (max-width: 430px) {
  #address {
    width: 300px;
  }
}
@media only screen and (max-width: 350px) {
  #address {
    width: 200px;
  }
}
